# ################################
# Model: Speaker identification with ECAPA
# Authors: Hwidong Na & Mirco Ravanelli
# ################################

# Basic parameters
output_folder: !PLACEHOLDER
save_folder: !ref <output_folder>
train_log: !ref <output_folder>/train_log.txt

# Data files
# data_folder: !PLACEHOLDER # e.g. /path/to/Voxceleb

train_annotation: !ref <save_folder>/train.csv
valid_annotation: !ref <save_folder>/dev.csv

# Folder to extract data augmentation files
rir_folder: checkpoints/rirs

# Training parameters
number_of_epochs: 1
batch_size: 128
lr: 0.001
lr_final: 0.0001

sample_rate: 16000
sentence_len: 3.0 # seconds
shuffle: True
num_workers: !PLACEHOLDER
random_chunk: True

# Feature parameters
n_mels: 24
left_frames: 0
right_frames: 0
deltas: False

# Number of speakers
out_n_neurons: !PLACEHOLDER
emb_dim: 512

dataloader_options:
  batch_size: !ref <batch_size>
  shuffle: !ref <shuffle>
  num_workers: !ref <num_workers>

compute_features: !new:speechbrain.lobes.features.Fbank
  n_mels: !ref <n_mels>
  left_frames: !ref <left_frames>
  right_frames: !ref <right_frames>
  deltas: !ref <deltas>

embedding_model: !new:speechbrain.lobes.models.Xvector.Xvector
  in_channels: !ref <n_mels>
  activation: !name:torch.nn.LeakyReLU
  tdnn_blocks: 5
  tdnn_channels: [512, 512, 512, 512, 1500]
  tdnn_kernel_sizes: [5, 3, 3, 1, 1]
  tdnn_dilations: [1, 2, 3, 1, 1]
  lin_neurons: !ref <emb_dim>

classifier: !new:speechbrain.lobes.models.Xvector.Classifier
  input_shape: [null, null, !ref <emb_dim>]
  activation: !name:torch.nn.LeakyReLU
  lin_blocks: 1
  lin_neurons: !ref <emb_dim>
  out_neurons: !ref <out_n_neurons>

epoch_counter: !new:speechbrain.utils.epoch_loop.EpochCounter
  limit: !ref <number_of_epochs>

augment_wavedrop: !new:speechbrain.lobes.augment.TimeDomainSpecAugment
  sample_rate: !ref <sample_rate>
  speeds: [100]

augment_speed: !new:speechbrain.lobes.augment.TimeDomainSpecAugment
  sample_rate: !ref <sample_rate>
  speeds: [95, 100, 105]

add_rev: !new:speechbrain.lobes.augment.EnvCorrupt
  openrir_folder: !ref <rir_folder>
  openrir_max_noise_len: 3.0 # seconds
  reverb_prob: 1.0
  noise_prob: 0.0
  noise_snr_low: 0
  noise_snr_high: 15
  rir_scale_factor: 1.0

add_noise: !new:speechbrain.lobes.augment.EnvCorrupt
  openrir_folder: !ref <rir_folder>
  openrir_max_noise_len: 3.0 # seconds
  reverb_prob: 0.0
  noise_prob: 1.0
  noise_snr_low: 0
  noise_snr_high: 15
  rir_scale_factor: 1.0

add_rev_noise: !new:speechbrain.lobes.augment.EnvCorrupt
  openrir_folder: !ref <rir_folder>
  openrir_max_noise_len: 3.0 # seconds
  reverb_prob: 1.0
  noise_prob: 1.0
  noise_snr_low: 0
  noise_snr_high: 15
  rir_scale_factor: 1.0

# Definition of the augmentation pipeline.
# If concat_augment = False, the augmentation techniques are applied
# in sequence. If concat_augment = True, all the augmented signals
# are concatenated in a single big batch.
augment_pipeline:
  [
    !ref <augment_wavedrop>,
    !ref <augment_speed>,
    !ref <add_rev>,
    !ref <add_noise>,
    !ref <add_rev_noise>,
  ]
concat_augment: True

mean_var_norm: !new:speechbrain.processing.features.InputNormalization
  norm_type: sentence
  std_norm: False

modules:
  compute_features: !ref <compute_features>
  augment_wavedrop: !ref <augment_wavedrop>
  augment_speed: !ref <augment_speed>
  add_rev: !ref <add_rev>
  add_noise: !ref <add_noise>
  add_rev_noise: !ref <add_rev_noise>
  embedding_model: !ref <embedding_model>
  classifier: !ref <classifier>
  mean_var_norm: !ref <mean_var_norm>

# Cost + optimization
compute_cost:
  !name:speechbrain.nnet.losses.nll_loss # compute_error: !name:speechbrain.nnet.losses.classification_error


opt_class: !name:torch.optim.Adam
  lr: !ref <lr>
  weight_decay: 0.000002

lr_annealing: !new:speechbrain.nnet.schedulers.LinearScheduler
  initial_value: !ref <lr>
  final_value: !ref <lr_final>
  epoch_count: !ref <number_of_epochs>
