data:
  config: # details of the data (TODO: should this differ for each dataset?)
    root_folder: /ds/audio
    sample_rate: ${sample_rate} # depends on the anonymization model
    batch_size: ${batch_size} # depends on the anonymization model

  datasets:
    eval:
      - spkanon_eval/data/librispeech/ls-test-clean.txt
    train_eval:
      - spkanon_eval/data/librispeech/ls-train-clean-360.txt
    targets:
      - spkanon_eval/data/librispeech/ls-train-clean-5.txt
